<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4d57e">  <td>23/12/12 19:38:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetTestClass.executor()[pri:0, instance:TestPackage.GetTestClass@1e8b7643]">executor</td> 
  <td>main@767511741</td>   <td></td> </tr>
<tr bgcolor="97d3ed">  <td>23/12/12 19:38:13</td>   <td>9844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatchTestClass.executor()[pri:0, instance:TestPackage.PatchTestClass@481ba2cf]">executor</td> 
  <td>main@767511741</td>   <td></td> </tr>
<tr bgcolor="b7f6b7">  <td>23/12/12 19:38:08</td>   <td>4205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PutTestClass.executor()[pri:0, instance:TestPackage.PutTestClass@5b367418]">executor</td> 
  <td>main@767511741</td>   <td></td> </tr>
<tr bgcolor="7b6699">  <td>23/12/12 19:38:12</td>   <td>8174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PostTestClass1.executor()[pri:0, instance:TestPackage.PostTestClass1@36060e]">executor</td> 
  <td>main@767511741</td>   <td></td> </tr>
</table>
